
<h1><%= @combat_scenario.name %></h1>

<ul>
  <% @combat_scenario.creatures.each do |creature| %>
    <li><%= link_to creature.name, combat_scenario_creature_path(@combat_scenario, creature) %>
        <%= creature.creature_name %>
        <%= creature.hit_points %>
        <%= creature.will_save %>
        <%= creature.reflex_save %>
        <%= creature.fortitude_save %>
        <%= creature.perception %>
        <%= creature.base_initiative %>
    </li>
  <% end %>
</ul>

<ul>
  <% @combat_scenario.characters.each do |character| %>
    <li>
      <%= link_to character.name, user_character_path(@user, character) %>
      <%= character.player_name %>
      <%= character.hit_points %>
      <%= character.race %>
      <%= character.character_class %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Character To Scenario", combat_scenario_character_new_path(@combat_scenario) %>

<%= link_to "Add Creature", new_combat_scenario_creature_path(@combat_scenario) %>

<%= link_to "<<< All Combat Scenarios", combat_scenarios_path %>
