
<h1><%= @combat_scenario.name %></h1>

<div class="row">

  <% @combat_scenario.creatures.each do |creature| %>
    <div class="col s3">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= link_to creature.name, combat_scenario_creature_path(@combat_scenario, creature)%></span>
            <li>Creature Name: <%= creature.creature_name %></li>
            <li>HP: <%= creature.hit_points %></li>
            <li>Perception: <%= creature.perception %></li>
            <li>Base Initiative: <%= creature.base_initiative %></li>
            <li>Traits:
              <p>
              <%= creature.traits %>
            </p></li>
            <li>Saving Throws:
              <table class = "bordered">
                <tr>
                  <th class="data-field">Will</th>
                  <th class="data-field">Reflex</th>
                  <th class="data-field">Fortitude</th>
                </tr>
                <tr>
                  <td><%= creature.will_save %></td>
                  <td><%= creature.reflex_save %></td>
                  <td><%= creature.fortitude_save %></td>
                </tr>
              </table>
            </li>
        </div>
      </div>
    </div>
  <% end %>


  <% @combat_scenario.characters.each do |character| %>
    <div class="col s3">
      <div class="card  blue darken-4">
        <div class="card-content white-text">
          <span class = "card-title"><%= link_to character.name, user_character_path(@user, character) %></span>
          <li>Player Name: <%= character.player_name %></li>
          <li>HP: <%= character.hit_points %></li>
          <li>Race: <%= character.race %></li>
          <li>Class: <%= character.character_class %></li>
          <li>Base Initiative: <%= character.base_initiative %></li>
          <li>Class: <%= character.character_class %></li>
            <%= button_to "Remove", combat_scenario_character_path(@combat_scenario, character), method: :delete, class: "btn red lighten-3" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
<%= link_to "Add Character To Scenario", combat_scenario_character_new_path(@combat_scenario) %><br />

<%= link_to "Add Creature", new_combat_scenario_creature_path(@combat_scenario) %><br />

<%= link_to "<<< All Combat Scenarios", combat_scenarios_path %><br />
